In [1]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [15]:
kw_list = ["Blockchain"]
pytrends.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='', gprop='')

In [16]:
pytrends.interest_over_time()

            Blockchain  isPartial
date
2014-07-06           2      False
2014-07-13           2      False
2014-07-20           2      False
2014-07-27           2      False
2014-08-03           2      False
2014-08-10           2      False
2014-08-17           2      False
2014-08-24           2      False
2014-08-31           2      False
2014-09-07           2      False
2014-09-14           2      False
2014-09-21           2      False
2014-09-28           2      False
2014-10-05           3      False
2014-10-12           2      False
2014-10-19           2      False
2014-10-26           2      False
2014-11-02           2      False
2014-11-09           2      False
2014-11-16           2      False
2014-11-23           2      False
2014-11-30           2      False
2014-12-07           2      False
2014-12-14           2      False
2014-12-21           2      False
2014-12-28           2      False
2015-01-04           2      False
2015-01-11           2      False
2015-01-18           3      False
2015-01-25           3      False
...                ...        ...
2018-12-02          32      False
2018-12-09          30      False
2018-12-16          27      False
2018-12-23          21      False
2018-12-30          23      False
2019-01-06          29      False
2019-01-13          27      False
2019-01-20          29      False
2019-01-27          28      False
2019-02-03          27      False
2019-02-10          29      False
2019-02-17          29      False
2019-02-24          29      False
2019-03-03          27      False
2019-03-10          27      False
2019-03-17          28      False
2019-03-24          28      False
2019-03-31          30      False
2019-04-07          31      False
2019-04-14          29      False
2019-04-21          33      False
2019-04-28          34      False
2019-05-05          36      False
2019-05-12          35      False
2019-05-19          33      False
2019-05-26          32      False
2019-06-02          30      False
2019-06-09          29      False
2019-06-16          33      False
2019-06-23          33      False

[260 rows x 2 columns]

In [9]:
pytrends.get_historical_interest(kw_list, year_start=2018, month_start=1, day_start=1, hour_start=0, year_end=2018, month_end=2, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)

                     Blockchain  isPartial
date
2018-01-01 00:00:00          40      False
2018-01-01 01:00:00          38      False
2018-01-01 02:00:00          41      False
2018-01-01 03:00:00          40      False
2018-01-01 04:00:00          38      False
2018-01-01 05:00:00          40      False
2018-01-01 06:00:00          44      False
2018-01-01 07:00:00          41      False
2018-01-01 08:00:00          45      False
2018-01-01 09:00:00          44      False
2018-01-01 10:00:00          47      False
2018-01-01 11:00:00          45      False
2018-01-01 12:00:00          45      False
2018-01-01 13:00:00          46      False
2018-01-01 14:00:00          45      False
2018-01-01 15:00:00          44      False
2018-01-01 16:00:00          45      False
2018-01-01 17:00:00          45      False
2018-01-01 18:00:00          47      False
2018-01-01 19:00:00          51      False
2018-01-01 20:00:00          51      False
2018-01-01 21:00:00          52      False
2018-01-01 22:00:00          57      False
2018-01-01 23:00:00          66      False
2018-01-02 00:00:00          58      False
2018-01-02 01:00:00          58      False
2018-01-02 02:00:00          61      False
2018-01-02 03:00:00          63      False
2018-01-02 04:00:00          69      False
2018-01-02 05:00:00          69      False
...                         ...        ...
2018-01-30 19:00:00          82      False
2018-01-30 20:00:00          84      False
2018-01-30 21:00:00          91      False
2018-01-30 22:00:00          92      False
2018-01-30 23:00:00          81      False
2018-01-31 00:00:00          80      False
2018-01-31 01:00:00          76      False
2018-01-31 02:00:00          73      False
2018-01-31 03:00:00          78      False
2018-01-31 04:00:00          84      False
2018-01-31 05:00:00          87      False
2018-01-31 06:00:00          85      False
2018-01-31 07:00:00          87      False
2018-01-31 08:00:00          91      False
2018-01-31 09:00:00          92      False
2018-01-31 10:00:00          87      False
2018-01-31 11:00:00          81      False
2018-01-31 12:00:00          78      False
2018-01-31 13:00:00          77      False
2018-01-31 14:00:00          83      False
2018-01-31 15:00:00          84      False
2018-01-31 16:00:00          84      False
2018-01-31 17:00:00          82      False
2018-01-31 18:00:00          81      False
2018-01-31 19:00:00          81      False
2018-01-31 20:00:00          84      False
2018-01-31 21:00:00          85      False
2018-01-31 22:00:00          85      False
2018-01-31 23:00:00          82      False
2018-02-01 00:00:00          77      False

[749 rows x 2 columns]

'CITY' returns city level data  
'COUNTRY' returns country level data  
'DMA' returns Metro level data  
'REGION' returns Region level data

In [12]:
pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False)

                        Blockchain
geoName
Afghanistan                      5
Albania                         13
Algeria                          5
American Samoa                   0
Andorra                         31
Angola                           7
Anguilla                         0
Antarctica                       0
Antigua & Barbuda               29
Argentina                        4
Armenia                         13
Aruba                           27
Australia                       22
Austria                         23
Azerbaijan                       7
Bahamas                         40
Bahrain                         17
Bangladesh                       8
Barbados                        18
Belarus                          8
Belgium                         19
Belize                           0
Benin                           12
Bermuda                         47
Bhutan                           0
Bolivia                          8
Bosnia & Herzegovina             6
Botswana                        27
Bouvet Island                    0
Brazil                           5
...                            ...
Thailand                         9
Timor-Leste                      0
Togo                            10
Tokelau                          0
Tonga                            0
Trinidad & Tobago                9
Tunisia                         14
Turkey                           8
Turkmenistan                     0
Turks & Caicos Islands           0
Tuvalu                           0
U.S. Outlying Islands            0
U.S. Virgin Islands              0
Uganda                          12
Ukraine                         11
United Arab Emirates            29
United Kingdom                  16
United States                   17
Uruguay                          7
Uzbekistan                       8
Vanuatu                          0
Vatican City                     0
Venezuela                       28
Vietnam                         14
Wallis & Futuna                  0
Western Sahara                   0
Yemen                            1
Zambia                           6
Zimbabwe                        19
Åland Islands                    0

[250 rows x 1 columns]

In [18]:
pytrends.related_topics()

{'Blockchain': {'rising':    formattedValue                                            link  \
  0        Breakout  /trends/explore?q=/g/11c6vvnmqj&date=today+5-y
  1        Breakout      /trends/explore?q=/m/0dvtq_&date=today+5-y
  2        Breakout  /trends/explore?q=/g/11bycyk__j&date=today+5-y
  3        Breakout     /trends/explore?q=/m/02vnd10&date=today+5-y
  4        Breakout  /trends/explore?q=/g/11clw79q_w&date=today+5-y
  5        Breakout    /trends/explore?q=/m/012c1cfr&date=today+5-y
  6        Breakout      /trends/explore?q=/m/018j6p&date=today+5-y
  7        Breakout      /trends/explore?q=/m/019h6j&date=today+5-y
  8        Breakout     /trends/explore?q=/m/03p1jr5&date=today+5-y
  9        Breakout  /trends/explore?q=/g/11byd3q_b2&date=today+5-y
  10       Breakout      /trends/explore?q=/m/01rs9z&date=today+5-y
  11       Breakout  /trends/explore?q=/g/11cn6flkr3&date=today+5-y
  12       Breakout       /trends/explore?q=/m/0vh9p&date=today+5-y
  13       Breakout      /trends/explore?q=/m/02kwz2&date=today+5-y
  14       Breakout    /trends/explore?q=/m/0130q41b&date=today+5-y
  15       Breakout  /trends/explore?q=/g/11d_88l3hz&date=today+5-y
  16       Breakout      /trends/explore?q=/m/02mxjp&date=today+5-y
  17       Breakout    /trends/explore?q=/m/0121k_50&date=today+5-y
  18       Breakout  /trends/explore?q=/g/11hbfjt1x1&date=today+5-y
  19       Breakout     /trends/explore?q=/m/0bs2j8q&date=today+5-y
  20       Breakout      /trends/explore?q=/m/04hhp8&date=today+5-y
  21       Breakout  /trends/explore?q=/g/11bxb8lf06&date=today+5-y
  22        +3,800%       /trends/explore?q=/m/07c1v&date=today+5-y
  23        +2,750%    /trends/explore?q=/m/0108bn2x&date=today+5-y
  24        +2,650%       /trends/explore?q=/m/03sc8&date=today+5-y

          topic_mid            topic_title                 topic_type  value
  0   /g/11c6vvnmqj  Initial coin offering                      Topic  79350
  1       /m/0dvtq_         Smart contract                      Topic  67600
  2   /g/11bycyk__j        HIVE Blockchain                    Company  63750
  3      /m/02vnd10     Internet of things                      Topic  61550
  4   /g/11clw79q_w            Hyperledger                    Project  52550
  5     /m/012c1cfr   Financial technology                      Topic  49550
  6       /m/018j6p     Software Developer                 Profession  47850
  7       /m/019h6j           Supply chain                      Topic  47050
  8      /m/03p1jr5        Riot Blockchain                    Company  44900
  9   /g/11byd3q_b2          Global Gaming                    Company  36850
  10      /m/01rs9z               Use case                      Topic  36400
  11  /g/11cn6flkr3     Distributed ledger                      Topic  31600
  12       /m/0vh9p             Innovation                      Topic  27650
  13      /m/02kwz2           Intelligence                      Topic  25650
  14    /m/0130q41b                 Monero             Cryptocurrency  25550
  15  /g/11d_88l3hz                   IOTA                      Topic  25400
  16      /m/02mxjp   Exchange-traded fund                      Topic  24750
  17    /m/0121k_50                Stellar                   Protocol  22700
  18  /g/11hbfjt1x1                 EOS.IO       Computer application  21950
  19     /m/0bs2j8q               Big data                      Topic  21850
  20      /m/04hhp8         Security token                      Topic  21100
  21  /g/11bxb8lf06                     R3                    Company  21050
  22       /m/07c1v             Technology                      Topic   3800
  23    /m/0108bn2x               Ethereum                      Topic   2750
  24       /m/03sc8                    IBM  Computer hardware company   2650  ,
  'top':    formattedValue  hasData                                            link  \
  0             100     True    /trends/explore?q=/m/0138n0j1&date=today+5-y
  1              10     True     /trends/explore?q=/m/05p0rrx&date=today+5-y
  2               3     True     /trends/explore?q=/m/0vpj4_b&date=today+5-y
  3               3     True    /trends/explore?q=/m/0108bn2x&date=today+5-y
  4               2     True      /trends/explore?q=/m/02_vjy&date=today+5-y
  5               2     True     /trends/explore?q=/m/0_1fcmj&date=today+5-y
  6               2     True       /trends/explore?q=/m/077mq&date=today+5-y
  7               2     True      /trends/explore?q=/m/0234wl&date=today+5-y
  8               2     True       /trends/explore?q=/m/07c1v&date=today+5-y
  9               1     True       /trends/explore?q=/m/0242l&date=today+5-y
  10              1     True      /trends/explore?q=/m/033mrd&date=today+5-y
  11              1     True       /trends/explore?q=/m/03sc8&date=today+5-y
  12              1     True       /trends/explore?q=/m/0g_fl&date=today+5-y
  13              1     True     /trends/explore?q=/m/0wr3qjq&date=today+5-y
  14              1     True       /trends/explore?q=/m/053rd&date=today+5-y
  15              1     True  /trends/explore?q=/g/11c6vvnmqj&date=today+5-y
  16              1     True      /trends/explore?q=/m/078rys&date=today+5-y
  17              1     True      /trends/explore?q=/m/0dvtq_&date=today+5-y
  18              1     True  /trends/explore?q=/g/11bycyk__j&date=today+5-y
  19              1     True     /trends/explore?q=/m/02vnd10&date=today+5-y
  20              1     True  /trends/explore?q=/g/11clw79q_w&date=today+5-y
  21             <1     True    /trends/explore?q=/m/012c1cfr&date=today+5-y
  22             <1     True      /trends/explore?q=/m/018j6p&date=today+5-y
  23             <1     True      /trends/explore?q=/m/019h6j&date=today+5-y
  24             <1     True     /trends/explore?q=/m/03p1jr5&date=today+5-y

          topic_mid            topic_title                 topic_type  value
  0     /m/0138n0j1             Blockchain                      Topic    100
  1      /m/05p0rrx                Bitcoin                       Cash     10
  2      /m/0vpj4_b         Cryptocurrency                      Topic      3
  3     /m/0108bn2x               Ethereum                      Topic      3
  4       /m/02_vjy                 Wallet                      Topic      2
  5      /m/0_1fcmj        Blockchain.info                      Topic      2
  6        /m/077mq                  Stock                      Topic      2
  7       /m/0234wl                  .info           Top level domain      2
  8        /m/07c1v             Technology                      Topic      2
  9        /m/0242l                   Coin                      Topic      1
  10      /m/033mrd  Financial transaction                      Topic      1
  11       /m/03sc8                    IBM  Computer hardware company      1
  12       /m/0g_fl             Investment                      Topic      1
  13     /m/0wr3qjq               Coinbase                      Topic      1
  14       /m/053rd                 Mining                      Topic      1
  15  /g/11c6vvnmqj  Initial coin offering                      Topic      1
  16      /m/078rys                 Ripple           Payment protocol      1
  17      /m/0dvtq_         Smart contract                      Topic      1
  18  /g/11bycyk__j        HIVE Blockchain                    Company      1
  19     /m/02vnd10     Internet of things                      Topic      1
  20  /g/11clw79q_w            Hyperledger                    Project      1
  21    /m/012c1cfr   Financial technology                      Topic      0
  22      /m/018j6p     Software Developer                 Profession      0
  23      /m/019h6j           Supply chain                      Topic      0
  24     /m/03p1jr5        Riot Blockchain                    Company      0  }}

In [17]:
pytrends.related_queries()

{'Blockchain': {'top':                         query  value
  0          blockchain bitcoin    100
  1                     bitcoin     98
  2       blockchain technology     60
  3          blockchain what is     49
  4           blockchain wallet     49
  5              the blockchain     45
  6                    ethereum     27
  7         ethereum blockchain     26
  8            chain blockchain     23
  9                       block     23
  10            blockchain info     19
  11           blockchain stock     19
  12             cryptocurrency     16
  13                        btc     14
  14             btc blockchain     14
  15             ibm blockchain     13
  16  bitcoin wallet blockchain     13
  17             bitcoin wallet     13
  18                block chain     12
  19            blockchain news     12
  20          blockchain mining     12
  21           blockchain login     11
  22     blockchain transaction     11
  23       blockchain companies     10
  24                        ico     10,
  'rising':                       query   value
  0            ibm blockchain  116600
  1                       ico   83750
  2        blockchain company   58900
  3   blockchain technologies   55500
  4               hyperledger   51350
  5    hyperledger blockchain   50100
  6                       iot   49500
  7            iot blockchain   48200
  8   blockchain supply chain   47500
  9           riot blockchain   46350
  10                  fintech   44450
  11        blockchain course   39900
  12    blockchain healthcare   36150
  13    hive blockchain stock   34900
  14           eth blockchain   31000
  15         blockchain aktie   27150
  16      blockchain startups   26400
  17           blockchain คือ   25000
  18            coinmarketcap   24850
  19           eos blockchain   24650
  20                      eos   24600
  21         ether blockchain   24600
  22           blockchain etf   24250
  23     blockchain use cases   24000
  24   blockchain technologie   23850}}